@page
@model NaturalDisasterInformationSystem.Pages.Areas.News.CreateModel
@{
    Layout = "~/Pages/Areas/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <h1>Thêm tin tức mới</h1>
    <a asp-page="./Index">Quay lại</a>
    <form method="post">
        <div class="form-group">
            <label asp-for="News.Title">Tiêu đề (Title):</label>
            <input asp-for="News.Title" class="form-control" required/>
            <span asp-validation-for="News.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="News.Content">Nội dung (Content):</label>           
            <div id="editor" style="min-height: 200px; overflow-y: auto;"></div>
            <input id="Description" asp-for="News.Content" rows="5" class="form-control" hidden required>
            <span asp-validation-for="News.Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="News.Source">Nguồn (Source):</label>
            <textarea asp-for="News.Source" rows="5" class="form-control" required></textarea>
            <span asp-validation-for="News.Source" class="text-danger"></span>
        </div>
      
        <button type="submit" class="btn btn-primary">Lưu (Save)</button>
    </form>
</div>


<!-- Quill stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{ 'header': [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                ['link', 'image'],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                ['clean']
            ]
        }
    });

    // Lắng nghe sự kiện thay đổi và cập nhật giá trị vào input ẩn
    quill.on('text-change', function () {
        document.getElementById('Description').value = quill.root.innerHTML;
    });
</script>
