@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var roleId = HttpContext.Session.GetString("RoleId") ?? Request.Cookies["RoleId"];
}
<p>RoleId của bạn là: @roleId</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="/Account/Logout" class="btn btn-danger mt-3">Đăng xuất</a>
</div>
