@page
@model NaturalDisasterInformationSystem.Pages.Areas.Admin.News.DeleteModel
@{
    ViewData["Title"] = "Management News";
    Layout = "~/Pages/Areas/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có muốn xóa không?</h3>

<form method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="News.NewsId" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-page="Index" class="btn btn-secondary">Hủy</a>
</form>