@page
@model NaturalDisasterInformationSystem.Pages.Areas.Admin.Alerts.DetailModel
@{
    var newList = ViewData["News"] as Models.EmergencyAlert;
    ViewData["Title"] = "Management News";
    Layout = "~/Pages/Areas/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="card shadow-lg mt-4">
            <div class="card-header bg-primary text-white text-center">
                <h4 class="card-title">Thông tin chi tiết tin tức</h4>
                <a asp-page="Index">Quay lại</a>
            </div>
            <div class="card-body p-4">
                <div class="table-responsive">
                    <form method="get">
                        <table class="table table-bordered table-striped table-hover">
                            <tbody>
                                <tr>
                                    <th class="bg-light">STT</th>
                                    <td>@newList.AlertId</td>
                                </tr>
                                <tr>
                                    <th class="bg-light">Nội dung</th>
                                    <td>@newList.AlertMessage</td>
                                </tr>
                                <tr>
                                    <th class="bg-light">Ngày tạo</th>
                                    <td>@newList.CreatedAt</td>
                                </tr>
                                @* <tr>
                                    <th class="bg-light">Số điện thoại</th>
                                    <td>
                                        @foreach (var phoneNumber in ViewData["PhoneNumbers"] as List<string>)
                                        {
                                            @phoneNumber
                                        }
                                    </td>
                                </tr> *@
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>