@page
@model NaturalDisasterInformationSystem.Pages.Areas.Alerts.UpdateModel
@{
    ViewData["Title"] = "Management News";
    Layout = "~/Pages/Areas/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h3>Cập nhật thông tin tin tức</h3>
        </div>
        <div class="card-body">
            <form id="updateForm" method="post">
                <!-- Username -->
                <div class="form-group mb-3">
                    <label for="title" class="form-label">Nội dung</label>
                    <input type="text" class="form-control" id="title" name="Alert.AlertMessage" value="@Model.Alert.AlertMessage" required placeholder="Enter title" />
                </div>

                <!-- Email -->
                <div class="form-group mb-3">
                    <label for="content" class="form-label">Ngày tạo</label>
                    <input type="text" class="form-control" id="content" name="Alert.CreatedAt" value="@Model.Alert.CreatedAt" required placeholder="Enter content" />
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <input type="submit" class="btn btn-success px-5 py-2" value="Cập nhật" id="saveBtn" />
                    <a asp-page="./Index" class="btn btn-secondary px-4 py-2">
                        <i class="fas fa-arrow-left"></i> Quay lại
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.getElementById('saveBtn').addEventListener('click', function (event) {
            event.preventDefault();

            // Hiển thị SweetAlert2 để xác nhận
            Swal.fire({
                title: 'Bạn có chắc chắn muốn cập nhật?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Có, cập nhật!',
                cancelButtonText: 'Hủy bỏ'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng xác nhận, submit form
                    document.getElementById('updateForm').submit();
                } else {
                    // Nếu người dùng nhấn 'Hủy bỏ', hiển thị thông báo đã hủy
                    Swal.fire('Đã hủy', 'Cập nhật đã bị hủy', 'info');
                }
            });
        });
    </script>
}