@page
@model NaturalDisasterInformationSystem.Pages.User.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="" style="background-image: url('/assets/images/bg_7.jpg'); background-size: cover; background-position: center center; background-attachment: fixed; min-height: 100vh; display: flex; align-items: center; justify-content: center; position: relative;">
    <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;"></div>
    <div class="container" style="position: relative; z-index: 2; padding: 20px; max-width: 1400px; margin: 0 auto; width: 100%; padding-top: 73px;">
        
        <div style="background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); padding: 60px; margin: 20px 0;">
            <h1 style="margin-bottom: 60px; font-size: 60px; color: #333; text-align: center;font-weight:bold">Liên Hệ</h1>
                <section >
                    <div class="container">
                        <div class="row d-flex">
                            <div class="col-md-5 d-flex ftco-animate">
                            <div class="img img-about align-self-stretch" style="background-image: url(/LayoutAdmin/assets/img/kaiadmin/logo3.png); width: 100%;"></div>
                            </div>
                            <div class="col-md-7 pl-md-5 ftco-animate">
                            <h2 class="mb-4">Giới thiệu</h2>
                            <p>Hệ thống thông tin thiên tai(Nature Disaster Information System - NDIS) </p>
                            <p style="text-align: justify; width: 85%;">
                                Trang web Hệ thống thông tin thiên tai được phát triển với sứ mệnh trở thành nền tảng hàng đầu
                                trong việc cung cấp thông tin liên quan đến thiên tai, hỗ trợ các nỗ lực gây quỹ và tổ chức các sáng
                                kiến cứu trợ hiệu quả. Mục tiêu của chúng tôi là tạo ra một công cụ mạnh mẽ kết nối cộng đồng với các tổ chức cứu trợ,
                                cho phép phản ứng kịp thời và hiệu quả đối với các trường hợp khẩn cấp,
                                do đó giảm thiểu thiệt hại và giúp khôi phục cuộc sống bình thường sau thảm họa.
                            </p>

                            </div>
                        </div>
                    </div>
                </section>

            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center mb-5 pb-3">
                        <div class="col-md-7 heading-section ftco-animate text-center">
                            <h2 style="font-weight:bold">MY TEAM</h2>
@*                             <p>Timely information, protecting communities from natural disasters.</p>
 *@                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                            <div class="staff">
                                <div class="d-flex mb-4">
                                    <div class="img" style="background-image: url(images/person_1.jpg);"></div>
                                    <div class="info ml-4">
                                        <h3><a href="#">Vũ Quang Vinh</a></h3>
                                        <span class="position">HE130592</span>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                            <div class="staff">
                                <div class="d-flex mb-4">
                                    <div class="img" style="background-image: url(images/person_2.jpg);"></div>
                                    <div class="info ml-4">
                                        <h3><a href="#">Đỗ Thế Tùng</a></h3>
                                        <span class="position">HE161150</span>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                            <div class="staff">
                                <div class="d-flex mb-4">
                                    <div class="img" style="background-image: url(images/person_3.jpg);"></div>
                                    <div class="info ml-4">
                                        <h3><a href="#">Hoàng Minh Đức</a></h3>
                                        <span class="position">HE163202</span>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                            <div class="staff">
                                <div class="d-flex mb-4">
                                    <div class="img" style="background-image: url(images/person_1.jpg);"></div>
                                    <div class="info ml-4">
                                        <h3><a href="#">Lê Anh Dũng</a></h3>
                                        <span class="position">HE163907</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                            <div class="staff">
                                <div class="d-flex mb-4">
                                    <div class="img" style="background-image: url(images/person_1.jpg);"></div>
                                    <div class="info ml-4">
                                        <h3><a href="">Trần Văn Dương</a></h3>
                                        <span class="position">He163326</span>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>